<aside>
    <div class="dep">
      <h6 [(ngModel)]="filterby" value="department">Departments</h6>
      <ul>
        <li (click)="filterEmp('it','department')" value="it" >IT</li>
        <li (click)="filterEmp('hr','department')">Human Resources</li>
        <li>MD</li>
        <li>Sales</li>
      </ul>
    </div>
  
    <div class="offices">
      <h6 [(ngModel)]="filterby" value="office">Offices</h6>
      <ul>
        <li (click)="filterEmp('seattle','office')">Seattle</li>
        <li (click)="filterEmp('india','office')">India</li>
      </ul>
    </div>
    <div class="titles">
      <h6>Job Titles</h6>
      <ul>
        <li>SharePoint Practice Head</li>
        <li>.Net Development Lead</li>
        <li>Recruiting Expert</li>
      </ul>
    </div>
  </aside>
  