<aside>
    <div class="dep">
      <h6>Departments</h6>
      <ul>
        <li>IT</li>
        <li>Human Resources</li>
        <li>MD</li>
        <li>Sales</li>
      </ul>
    </div>
  
    <div class="offices">
      <h6>Offices</h6>
      <ul>
        <li>Seattle</li>
        <li>India</li>
      </ul>
    </div>
    <div class="titles">
      <h6>Job Titles</h6>
      <ul>
        <li>SharePoint Practice Head</li>
        <li>.Net Development Lead</li>
        <li>Recruiting Expert</li>
      </ul>
    </div>
  </aside>
  